
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

.App {
  text-align: center;
  
  display: flex;
  justify-content: center;
  font-family: open Sans;
  font-weight: 700;
  
  

  margin-top: 100px;
  color: black;
  margin-left: 550px;
  margin-right: 550px;
  border-radius: 0.5em;
  background-color: #fff;
  border: solid 0.2px black;
  box-shadow: 1px 1px 10px;
 
}
#formBasicEmail{
  text-align: center;
  background-color: #EBF0FC;
  
  
 
  
}



#formBasicPassword{
  text-align: center;
  background-color: #EBF0FC;
 

}
/* .text-muted{
  text-align: center;
  margin-left: 10px;
} */

